#Loading{
    height: 100vh;
    width: 100vw;
    background-color:white;
    opacity: 99%;
    z-index: 999;
    position : relative;
}
#Loading__text{
    position: absolute;
    top: 50%;
    left: 50%;
}
#Loading__text p{
    animation: loading alternate infinite 700ms;
}
@keyframes loading {
    from{
        opacity: 30%;
    }
    to{
        opacity: 100%;
    }
}