.mainTable,.sideTable,.verticalTable{
    width: calc(80vw - 300px);
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 10vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.mainTable th, .mainTable td{
    padding: 12px 15px;
}
.mainTable tbody tr {
    border-bottom: thin solid #dddddd;
}

.mainTable tbody tr:nth-of-type(2n+1) {
    background-color: #f3f3f3;
}
.sideTable tbody tr:nth-of-type(2n+1){
    background-color: #f3f3f3;
}
.verticalTable tbody tr:nth-of-type(2n+1){
    background-color: #f3f3f3;
    border-bottom: 2px solid #009879;
}
.container{
    overflow-y: scroll;
}
@media screen and (max-device-width: 850px){
    .mainTable,.sideTable,.verticalTable{
        width: 100%;
    }
}
@media screen and (max-device-width: 560px){
    .mainTable{
        width: 100%;
    }
    .mainTable th{
        font-size: 0.7em;
        padding: 2px 2px;
    }
    .mainTable td{
        font-size: 0.9em;
        padding: 1px 5px;
    }
    .sideTable{
        width: 10%;
    }
    .verticalTable{
        width: 10%;
    }
}