.mainTable,.sideTable,.verticalTable{
    width: 40vw;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.mainTable th, .mainTable td{
    padding: 12px 15px;
}
.mainTable tbody tr {
    border-bottom: thin solid #dddddd;
}

.mainTable tbody tr:nth-of-type(2n+1) {
    background-color: #f3f3f3;
}
.sideTable tbody tr:nth-of-type(2n+1){
    background-color: #f3f3f3;
}
.verticalTable tbody tr:nth-of-type(2n+1){
    background-color: #f3f3f3;
    border-bottom: 2px solid #009879;
}
.container{
    overflow-y: scroll;
}
.title{
    text-effect: engrave;
}