div.image{
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-top: 2rem;
    position: relative;
}
div.image.false{
    display: none !important;
}